/* Carousel style - Cannelle (http://github.com/fernandoted/cannelle)
   author: fernando ted
   http://fernandoted.com.br/ - http://github.com/fernandoted/ - http://takealook.com.br/
   07/02/2016 
*/


/* SMARTPHONE - iPhone 6 */
#carousel-about {

	.carousel-container {
		width: 100%;
	
		.slide-img {
			max-width: 100%;
			/*height: 250px;*/
		}
	}
}

.carouse-casa {
	
	.carousel-casa-image-wrapper {
		
	}
}

/* DESKTOP */
@media screen and (min-width: 769px) {
	#carousel-about {
		width: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		
		.carousel-container {
			max-width: 700px;
			width: auto;
			max-height: 467px;
			height: auto;
			-webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			
			.slide-img {
				max-width: 700px;
				width: auto;
				max-height: 467px;
				height: auto;
			}
		}
	}
	.carousel-casa-container {
		width: 100%;
		margin-bottom: 100px;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		
		#carousel-casa {
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
			
			.indicators {
				padding-left: 0;
			}
			.carousel-casa-image-wrapper {
				width: 100%;
				height: auto;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
				justify-content: center;
				
				.carousel-item {
					width: 700px;
					height: 467px;
					
					.casa-slide {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
