/* Menu - Cannelle (http://github.com/fernandoted/cannelle)
   author: fernando ted
   http://fernandoted.com.br/ - http://github.com/fernandoted/ - http://takealook.com.br/
   07/02/2016 
*/

/* IPHONE 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
	.menu-home-container {
		padding-top: 100px;
		padding-bottom: 0;
		.menu-list {
			.menu-item {
				margin: 5px 0;
				.menu-link {
					@include text-style(1rem, $white);
				}
			}
		}
	}
}

/* IPHONE 5 */
@media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
	.menu-home-container {
		padding-top: 40px;
		padding-bottom: 40px;
		.menu-list {
			.menu-item {
				margin: 10px 0;
				.menu-link {
					@include text-style(1.250rem, $white);
				}
			}
		}
	}
}
/* SMARTPHONE - iPhone 6 */
.menu-home-container {
	width: 100%;
	.menu-list {
		text-align: center;
		padding: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		justify-content: center;
		.menu-item {
			.menu-link {
				padding: 0;
				font-family: $text-topic;
				position: relative;
				text-decoration: none;
				@extend .nav-link;
				-webkit-transition: ease-in-out .2s;
				-moz-transition: ease-in-out .2s;
				-o-transition: ease-in-out .2s;
				transition: ease-in-out .2s;
			}
			.menu-link:after {
				visibility: hidden;
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				border-bottom: 1px solid $white;
				-webkit-transition: all 0.3s ease-in-out 0s;
				transition: 0.4s;
			}
				
			.menu-link:hover:after {
				width: 40px;
				left: 20px;
			}
		}
	}
}

.section-menu-container {
	.section-menu-list {
		.section-menu-item {
			.section-menu-link {
				@include text-style(1rem, $smooth-black);
				padding: 5px 10px;
			}
		}
	}
}
				
.section-menu-container, .main-menu-container {
	width: 100%;
	
	.section-menu-list {
		/*@extend .nav;*/
		@extend .justify-content-center;
		
		.section-menu-item {
			@extend .nav-item;
			
			.section-menu-link, .main-menu-link {
				position: relative;
				text-decoration: none;
				@extend .nav-link;
				-webkit-transition: ease-in-out .2s;
				-moz-transition: ease-in-out .2s;
				-o-transition: ease-in-out .2s;
				transition: ease-in-out .2s;
				
				/*&:hover {
					color: $smooth-black;
				}*/
			}
			.section-menu-link:after {
				visibility: hidden;
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				border-bottom: 1px solid $smooth-black;
				-webkit-transition: all 0.3s ease-in-out 0s;
				transition: 0.4s;
			}
				
			.section-menu-link:hover:after {
				width: 40px;
				left: 40px;
			}
		}
	}
}

.main-menu-container {
	padding: 50px 0 20px 0;
	
	.section-menu-list {
		.section-menu-item {

			.main-menu-link {
				@include text-style(.9rem, $smooth-black);
				padding: 10px;
			}
		}
	}
}

@media screen and (min-width: 321px) {
	.section-menu-container {
		.section-menu-list {		
			.section-menu-item {
				.section-menu-link {
					font-size: 1.125rem;
				}
			}
		}
	}
}

/* SMATPHONE LANDSCAPE */
@media screen and (min-device-width: 320px) 
  			  and (max-device-width: 768px) 
  			  and (orientation: landscape) {
	.menu-home-container {
		padding-top: 150px;
		padding-bottom: 0;

		.menu-list {
			.menu-item {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

/* FROM SMART'S LANDSCAPE UP */
@media screen and (min-width: 480px) {
	.menu-home-container {
		.menu-list {
			-webkit-flex-direction: row;
			flex-direction: row;
		}
	}
}

/* DESKTOP */
@media screen and (min-width: 768px) {
	.menu-home-container {
		padding-bottom: 0;
		.menu-list {
			.menu-item {
				margin: 0 30px;
				.menu-link {
				}
				.menu-link:after {
					visibility: visible;
				}
			}
		}
	}
	.section-menu-container {
		padding: 20px 0;
		.section-menu-list {		
			.section-menu-item {
				.section-menu-link {
					padding: 5px 40px;
				}
				.section-menu-link:after {
					visibility: visible;
				}
			}
		}
	}
	.main-menu-container {
		padding: 60px 0 40px 0;	
		.section-menu-list {
			.section-menu-item {
				.main-menu-link {
					@include text-style(1rem, $smooth-black);
					padding-left: 40px;
					padding-right: 40px;
				}
			}
		}
	}
}