/* Texts - Cannelle (http://github.com/fernandoted/cannelle)
   author: fernando ted
   http://fernandoted.com.br/ - http://github.com/fernandoted/ - http://takealook.com.br/
   07/02/2016 
*/

.white-text {
	color: $white;
}

.text {
	/*@include text-style(.9rem, $white);*/
	font-size: .9rem;
	margin-bottom: 0;
}
.caseirinho-img-intro {
	
	.paragraph-wrapper {	
		width: 100%;
		padding: 80px 0px;
		
		.text {
			color: $white;
		}
	}
}
.paragraph-wrapper, .paragraph-half-wrapper, .map-infos-wrapper {
	width: 100%;
	
	.paragraph {
		padding: 20px;
	}
	.text {
		padding: 20px;
		color: $gray-text;
	}
}
.paragraph-left {
	@include text-style(.9rem, $white);
	padding-left: 20px;
	padding-right: 20px;
}

.store-text-container {
	margin: 40px 20px 0 20px;
	-webkit-display: flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	.store-wrapper, .info-wrapper {
		text-align: center;
		
		.store-name {
			@include text-style(1rem, $white);
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 5px;
		}
		.store-info {
			@include text-style(.9rem, $white);
			text-align: center;
			padding-bottom: 30px;
		}
	}	
}
.credit-wrapper {
	width: 100%;
	text-align: center;
	.credit-home {
		@include text-style(.6rem, $white);
		.credit-link {
			color: $white;
		}
	}
	.credit {
		@include text-style(.6rem, $black);
		.credit-link {
			color: $black;
		}
	}
	.credit-home, .credit {
		.credit-link {
			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;
			transition: .2s ease-in-out;

			&:hover {
				color: #FF0000;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}
/* cozinha caiçara - message box */
	.message-wrapper {
		width: 100%;
		/*margin: 0 auto;*/
		.message {
			@include text-style(.8rem, $white);
			background: rgba(0,0,0,0.6);
			padding: 20px;
			opacity: .8;
			text-align: left;
			margin-bottom: 60px;
		}
	}

/* DESKTOP */
@media screen and (min-width: 769px) {
	.paragraph-wrapper {
		width: 100%;
	}
	.paragraph-half-wrapper {
		width: 40%;
		
		.paragraph {
			@include text-style(.9rem, $gray-text);
			padding: 20px 80px 20px 80px;
		}
	}
	.paragraph-wrapper {
		
		.paragraph {
			@include text-style(.9rem, $gray-text);
			padding: 100px 280px;
			margin-bottom: 0;
		}
		.text {
			padding: 100px 280px;
		}
		.paragraph-left {
			@include text-style(1rem, $white);
			padding-left: 80px;
			width: 55%;
		}
	}
	.credit-wrapper {
		text-align: right;
		.credit-home {
			@include text-style(.7rem, $white);
		}
		.credit {
			@include text-style(.7rem, $black);
			padding-right: 80px;
		}
	}
	/* cozinha caiçara - message box */
	.message-wrapper {
		width: 60%;
		margin: 0 auto;
		.message {
			@include text-style(1rem, $white);
			background: rgba(0,0,0,0.6);
			padding: 20px;
			opacity: .8;
			text-align: center;
			margin-bottom: 80px;
		}
	}
	.store-text-container {
		margin: 0 40px 0 40px;
		
		.store-wrapper {
			-webkit-flex: 1;
			flex: 1;
		}
		.store-wrapper, .info-wrapper {
			.store-name {
				padding-bottom: 20px;
			}
		}	
	}
}